<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <webSocket enabled="false" />
    <handlers>
      <add name="iisnode" path="server/server.js" verb="*" modules="iisnode"/>
    </handlers>
    <rewrite>
      <rules>
        <!-- Do not interfere with requests for node-inspector debugging -->
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^server\/server.js\/debug[\/]?" />
        </rule>

        <!-- API requests go directly to Node.js -->
        <rule name="API" stopProcessing="true">
          <match url="^api/(.*)" />
          <action type="Rewrite" url="server/server.js"/>
        </rule>

        <!-- Static files from dist folder -->
        <rule name="StaticContent" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="dist/{R:1}"/>
        </rule>

        <!-- All other URLs are mapped to Node.js (SPA catch-all) -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
          </conditions>
          <action type="Rewrite" url="server/server.js"/>
        </rule>
      </rules>
    </rewrite>

    <!-- iisnode configuration for ES modules -->
    <iisnode nodeProcessCommandLine="node --experimental-modules"
             watchedFiles="web.config;*.js"
             loggingEnabled="true"
             logDirectory="iisnode" />
    
    <!-- Security -->
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="node_modules"/>
          <add segment=".env"/>
          <add segment=".git"/>
        </hiddenSegments>
      </requestFiltering>
    </security>

    <!-- Make sure error responses are left untouched -->
    <httpErrors existingResponse="PassThrough" />
  </system.webServer>
</configuration>
